
#page1{
    background-image: url(/assets/backgrounds/h_img.jpg);
    height: 120vh;
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 35vh;
}
.mousec{
    padding-top: 9%;
}
h1{
    line-height: 1.8;
    font-size: 40px;
    padding-top: 15px;

}

#page3{
    background-image: url(/assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-top: 60px;
    padding-top: 15vh;
    height: 50vh;
}
#work {
    display: flex;
    flex-direction: row;
}

.portfolio{
    max-width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.card{
    padding-bottom: 20px;
}
.work-heading {
    display: none;
    border-style: solid;
    border-color:white;
    background-color: rgb(44, 44, 44, 0.5);
    color:white;
    height: 100%;
    width: 100%;
    padding-top: 30%;
    padding-right: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact{
    background-image: url(/assets/backgrounds/c_image.jpg);
    background-size: cover;
    height: 70vh;
    color: white;
    
}
#contact h3{
    padding-top: 25px;
}

.contactus{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.contactus input{
    width: 35%;
    height: 5%;
    background-color: transparent;
   
}
.message{
    display: flex;
    justify-content: center;
}
#message{
    background-color: transparent;
    width: 72%;
    height: 35vh;
    padding-top: 1px;
}
.mybtn{
    float: left;
    padding-left: 14%;
    padding-top: 3%;
}
.social{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
.social li{
    padding-left: 20px;
}